

/*********************************************************************/
/* testing */
/*********************************************************************/
   /*this is comment*/
  *{outline: 2px dotted red;}



/*********************************************************************/
/* whole page */
/*********************************************************************/
  body {
	color: #333;
	font-family: Arial, Helvetica, sans-serif;
}


p {
	font-size: 1.0em;
}


/*********************************************************************/
/* very top logo */
/*********************************************************************/
.logoimageReplacement {
	background: url(../images/headerspices.jpg) no-repeat top right;
}
.logoimageReplacement h1 {
	display: block;
	width: 306px;
	height: 154px;
	background: url(../images/logo.gif) no-repeat 0 0;
	margin-top: 0;
	margin-bottom:0;
	text-indent: -9999px;
}


/*********************************************************************/
/* top navbar */
/*********************************************************************/
.nav {
	background-color: #c1e492;

}
.nav ul {
	width: 930px;
	margin-top: 0;
	margin-bottom: 0;
}

/**/
.nav li {
	display: inline-block;
	padding: 0.350em 2.0em;
}

/**/
.nav a {
	color: #006a26;
	font-weight: bold;
	font-size: 0.750em;
}
 h3 {    

color: #094627;
} 


/*********************************************************************/
/* Header image with words */
/*********************************************************************/
.headerimage {
	background: url(../images/homespices.jpg) no-repeat 0 0;
	background-size: cover;

}
.headertextoverlay {
	                width: 300px;
					padding:26px;
					text-align: left;

}
.headertextoverlay h2 {
	                    color: white;
						margin-bottom: 50px;
						font-size:30px;
						text-align: left;


}
.headerwhitetext { background-color: white;
				   width: 300px;
				   text-align: left;
				   padding: 10px;


}

.inlineBlock {
		display: inline-block;

}

#TheNews {

			position: relative;
			float: left;
			

			



}
/*********************************************************************/
Footer
/**********************************************************************



